body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.partners-section {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.partners {
  color: #0b0757;
  font-weight: bold;
  font-size: 40px;
}

.scroll-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  padding: 20px 0;
  margin: 0;
  border: transparent;
  background-color: #f9f9f9;
  position: relative;
}

.scroll-content {
  display: flex;
  animation: scroll 35s linear infinite;
}

.scroll-content img {
  display: inline-block;
  margin: 0 10px;
  height: 30px; /* Adjust according to your logo size */
  width: auto;
  transition: transform 0.3s;
}

.scroll-content img:hover {
  transform: scale(1.1);
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 786px) {
  .partners {
    font-size: 25px;
  }

  .scroll-content img {
    height: 23px;
  }
}
