.imageCoroselContainer {
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
}

.carousel {
  object-fit: cover;

  background-color: transparent;
}
.carouselContainer {
  padding: 10px;
  margin: 0;
  width: 60%;
}
.img001 {
  width: 80%;
  margin: auto;
}
.head3 {
  color: #0b0757;
  font-size: 40px;
  line-height: 44px;
  margin: 0 0 10px;
  font-weight: bold;
  padding: 0;
}
.slider01 {
  width: 60%;
  margin: auto;
}
.para3 {
  color: #7c7c81;
  font-size: 20px;
}

@media (max-width: 786px) {
  .carousel {
    width: 100%;

    object-fit: cover;
  }
  .head3 {
    font-size: 30px;
  }
  .slider01 {
    width: 100%;
    padding-top: 15px;
    margin: auto;
  }
}
/* carouselStyled at top */

.imageSocialContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.influHeading {
  font-size: 5rem;
  font-weight: 600;

  background: linear-gradient(to right, #0b0757, #8ae07ecf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
  background-clip: text;
  color: transparent;
}

.butonB1 {
  width: 190px;
  padding: 15px;
  background-color: #198754;
}
.influpara {
  font-weight: bold;
  color: #5b4f4fb6;
}

.introLeftContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.influButtonsContainer {
  display: flex;
  gap: 30px;
}
.imgSocial {
  width: 520px;
  height: 517px;
}

.IntroFullContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: radial-gradient(circle, #d6d6db, #47476e6a);
  padding: 0px;
  padding: 10px;
}

.influHead3 {
  color: #0b0757;
  font-weight: bold;
  font-size: 45px;
}

.infludes3 {
  color: #198754;
  font-size: 25px;
}

.viewsmpbtn {
  border-style: none;

  color: #0b07579c;
  font-weight: bold;
}
@media (max-width: 786px) {
  .IntroFullContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .br001 {
    display: none;
  }
  .butonB1 {
    width: 50%;
  }
  .imgSocial {
    width: 100%;
    padding: 10px;
    height: auto;
  }
  .introLeftContainer {
    padding: 10px;
  }
  .influHeading {
    font-size: 30px;
  }
  .influHead3 {
    font-size: 30px;
  }
  .infludes3 {
    font-size: 20px;
  }
  .influButtonsContainer {
    gap: 10px;
  }
}
