/* Import slick-carousel CSS */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.feedback {
  background: url("https://res.cloudinary.com/djlhr4ycg/image/upload/v1715320577/section-background_sxi9ha.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom: 5rem;
  padding: 2rem;
}

.container {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2px;
}

.heading {
  color: #0b0757;
  font-weight: bold;
  font-size: 40px;
}

.paragraph {
  color: #666;
  font-size: 1.1rem;
  font-weight: bold;
}

.blink {
  animation: blink 3s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.voices {
  overflow: hidden;
}

.voice {
  text-align: left;

  padding: 1.5rem;
  border-radius: 10px;
  background-color: rgba(249, 249, 249, 0.9);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: 0 10px; /* Adds space between each slide */
}

.voice:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.profile-detail {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-img {
  width: 60px;
  height: 80px;
  border-radius: 50%;
  margin-right: 1rem;
  border: 2px solid #131212;
}

.detail h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #131212;
}

.client-info {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.testimonial {
  font-style: italic;
  color: #555;
  font-size: 1.1rem;
}

.slick-prev,
.slick-next {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  color: white;
  content: "";
}

.slick-prev:before {
  content: "◀"; /* Unicode character for left arrow */
}

.slick-next:before {
  content: "▶"; /* Unicode character for right arrow */
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

@media (max-width: 768px) {
  .heading {
    font-size: 30px;
    padding-left: 15px;
  }
  .voice {
    padding: 1rem;
    margin: 0 5px; /* Smaller margin for mobile view */
  }
  .slick-prev,
  .slick-next {
    display: none; /* Hide arrows on mobile */
  }
}
